.items{
	-fx-text-fill: rgb(255.0,255.0,255.0);
	-fx-background-color: rgb(63.0,63.0,63.0);
	-fx-background-size: cover ;
	-fx-text-alignment: center ;
	-fx-font-family: calibri;
	-fx-font-size: 16.0pt;
	-fx-border-color: rgb(255.0,255.0,255.0);
	-fx-padding: 15.0px;
}
.items:hover{
	-fx-background-color:rgb(100.0,100.0,100.0);
	-fx-font-style: italic ;
}



.header{
	-fx-min-height: 100.0%
}


.itemsBottom{
	-fx-background-color: rgb(63.0,63.0,63.0);
	-fx-text-fill: rgb(255.0,255.0,255.0);
	-fx-font-family: calibri;
	-fx-font-size: 16.0pt;
	-fx-border-color: rgb(255.0,255.0,255.0);
	-fx-padding: 15.0px;
}

.textAreas{
	
	-fx-text-fill: black;

}
.lauter{
	-fx-background-color: rgb(0.0,255.0,64.0);
}

.leiser{
	-fx-background-color: rgb(0.0,255.0,64.0);

}

.center{
	-fx-min-height: 60.0%;
	-fx-background-image: url(LondonMap.jpg) ;
	-fx-background-position: center ;
	-fx-background-size: stretch ;
	-fx-background-color: rgb(128,128,128)
}
.footer{
	-fx-max-height: 35.0%;
	-fx-background-color: rgb(192,192,192);
}
.help{
	-fx-min-height:150px;
	-fx-min-width: 150px;
	-fx-background-image: url(InformaTigerHilfe.png); 
	-fx-background-position: center ;
	-fx-background-size: stretch ;
}
.help:hover{
-fx-background-color: rgb(235,214,61);
}
.fahrtafel{
	
}

.felder{
	-fx-pref-height: 20px;
	-fx-pref-width: 30px;
	-fx-background-color: transparent;
	-fx-background-radius: 200px;
	-fx-border-radius: 30px; 
	-fx-border-color: transparent;
}

.felder:hover{
	-fx-pref-height: 20px;
	-fx-pref-width: 30px;
	-fx-background-radius: 200px;
	-fx-border-radius: 30px; 
	-fx-border-color: black;
	-fx-border-width: 2px;
}

.hilfetext{
	-fx-pref-height:90%;
	-fx-pref-width: 90%;
}
.spielerButtons{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-pref-height: 60px;
	-fx-pref-width: 40px;
}

.DURCHSICHTIG{
	-fx-background-image: url(DURCHSICHTIG.png);
	-fx-background-size: stretch;
	-fx-background-position: center ; 
}

.BLAU{
	-fx-background-image: url(BLAU.png);
	-fx-background-size: stretch;
	-fx-background-position: center ; 
}
.GELB{
	-fx-background-image: url(GELB.png); 
	-fx-background-size: stretch  ;
	-fx-background-position: center ;
}
.GRUEN{
	-fx-background-image: url(GRUEN.png); 
	-fx-background-size: stretch  ;
	-fx-background-position: center ;
}
.ROT{
	-fx-background-image: url(ROT.png); 
	-fx-background-size: stretch  ;
	-fx-background-position: center ;
}
.SCHWARZ{
	-fx-background-image: url(SCHWARZ.png); 
	-fx-background-size: stretch  ;
	-fx-background-position: center ;
}

.spielerfarbe{
	-fx-pref-height: 200px;
	-fx-pref-width: 200px;
	-fx-border-color: black;
	-fx-border-width: 3px;
}


.ungeradeFahrt{
	-fx-background-color: rgb(133,133,133);
	-fx-border-color: black ;
	-fx-border-width: 3px;
	-fx-text-fill: white ;
	-fx-font-family: calibri;
	-fx-font-size: 16px;
	-fx-text-alignment: center ;
	-fx-pref-height: 50px;
	-fx-pref-width: 100px;
	-fx-padding: 5.0px;
    -fx-border-insets: 5.0px;
    -fx-background-insets: 5.0px;
}
.geradeFahrt{
	-fx-background-color: rgb(74,74,74);
	-fx-border-color: black ;
	-fx-border-width: 3px;
	-fx-text-fill: white ;
	-fx-font-family: calibri;
	-fx-font-size: 16px;
	-fx-text-alignment: center ;
	-fx-pref-height: 50px;
	-fx-pref-width: 100px;
	-fx-padding: 5.0px;
    -fx-border-insets: 5.0px;
    -fx-background-insets: 5.0px;
}

.alerts{
	-fx-text-fill: black;
	-fx-font-size: 14pt;
}

.zivilistenfigur0{
	-fx-background-image: url(ChiefWiggum.png);
	-fx-background-size: stretch;
	-fx-background-position: center ; 

}

.zivilistenfigur1{
	-fx-background-image: url(Kim_Possible.png);
	-fx-background-size: stretch;
	-fx-background-position: center ;
	-fx-pref-width: 80px; 
}

.zivilistenfigur5{
	-fx-background-image: url(Kim_Possible.png);
	-fx-background-size: stretch;
	-fx-background-position: center ; 
}

.zivilistenfigur3{
	-fx-background-image: url(Fillmore.png);
	-fx-background-size: stretch;
	-fx-background-position: center ; 
}

.zivilistenfigur4{
	-fx-background-image: url(Perry.png);
	-fx-background-size: stretch;
	-fx-background-position: center ; 
}

.zivilistenfigur2{
	-fx-background-image: url(Stewie.png);
	-fx-background-size: stretch;
	-fx-background-position: center ; 
}

.sprechblase{
	-fx-background-image: url(sprechblase.png); 
	-fx-background-size: stretch;
	-fx-background-position: center ;
	-fx-pref-height:  50px;
	-fx-pref-width: 50px;
}
